.form-volume
  %form.new-volume
    .input-box
    %input{type: "text", placeholder: "type a volume-name" , class: "input-box__text"}
    %input{type: "textarea", placeholder: "type a volume" , class: "input-box__content"}
    %input{type: "submit", class: "submit-btn"}