.all_titles
  .all_titles__case
    全投稿小説一覧
  .all_titles__list
    .title-list-name
      = link_to "#" do
        .list-name
          = "ほんの少し思い出してもらうだけの話"
    .title-list-name
      = link_to "#" do
        .list-name
          = "明るい筋肉"