.main_novel{
  padding-top: 20px;
  text-align: left;
  width: 950px;
  border: 1px solid #202032;
  margin: 0 auto;
  height: calc(612px - 90px);
  &__info{
    height: 100px;
    background-color: #FFEFD5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &__title-name{
      font-size: 40px;
    }
    &__btn{
      display: flex;
      .btn{
        display: block;
        line-height: 40px;
        padding: 0px 20px;
        color: #38aef0;
        font-size: 16px;
        border: 1px solid #38aef0;
        text-decoration: none;
        border-radius: 20%
      }
    }
  }
  &__title__volume-list{
    overflow: auto;
    background-color: #ffffff;
    .volume-btn{
      .btn{
        display: block;
        line-height: 40px;
        padding: 0px 20px;
        color: #38aef0;
        font-size: 16px;
        border: 1px solid #38aef0;
        text-decoration: none;
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    .volume-list{
      .volume-index{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        a{
          text-decoration: none;
        }
        .volume-name{
          display: block;
          font-size: 16px;
          color: #38aef0;
        }
        .volume-date{
          display: block;
          font-size: 16px;
          color: black;
        }
      }
    }
  }
  &__title__comment-list{
    overflow: auto;
    height: 400px;
    background-color: #f9f9f9;
    border-top: 1px solid #999;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .comment-list{
      .comment-index{
        display: flex;
        justify-content: space-between;
        .comment-name{
          font-size: 16px;
        }
        .volume-date{
          font-size: 16px;
        }
      }
      .volume-content{
        padding-top: 5px;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  &__title__comment-send{
    height: 90px;
    width: 950px;
    background-color: #d2d2d2;
    border-top: 1px solid #999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    .form{
      padding: 20px 40px;
      .new-comment{
        width: 100%;
        display: flex;
        .input-box{
          &__text{
            height: 50px;
            width: 750px;
            padding: 0px 45px 0px 15px;
            border: none;
          }
        }
        .submit-btn{
          width: 100px;
          height: 50px;
          margin-left: 15px;
          padding: 0px 30px;
          background-color: #c90926;
          color: white;
          font-size: 16px;
          border: 0;
        }
      }
    }
  }
}
