.volume-title{
  background-color: #FFEFD5;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color:black;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #202032;
  width: 950px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.form-volume{
  margin: 0 auto;
  .new-volume{
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
    .input-box{
      &__text{
        width: 500px;
        margin-bottom: 10px;
        padding: 15px;
        display: block;
        font-size: 20px;
      }
      &__content{
        overflow: auto;
        width: 800px;
        height: 600px;
        margin-bottom: 10px;
        padding: 15px;
        display: block;
        white-space: pre-wrap;
        font-size: 15px;
        line-height: 40px
      }
    }
    .submit-btn{
      display: block;
      width: 200px;
      margin-top: 10px;
      padding: 15px;
      border: 0;
      background-color: #c90926;
      color: white;
    }
  }
}
.volume__btn{
  display: flex;
  margin-left: 880px;
  .btn{
    display: block;
    line-height: 40px;
    padding: 0px 20px;
    color: #38aef0;
    font-size: 16px;
    border: 1px solid #38aef0;
    text-decoration: none;
    border-radius: 20%
  }
}

