%h1.title-name= "タイトル名記入"
.form-title
  %form.new-title
    .input-box
    %input{type: "text", placeholder: "type a title" , class: "input-box__text"}  
    %input{type: "submit", class: "submit-btn"}